body{
	font-size: 16px;
	display: flex;
	flex-direction: column;
}
.objet-article{
	border: 2px solid;
	margin: 0.5em;
	padding: 3px;
}
.objet-article a{
	text-decoration: none;
}
.format{
	display: inline;
}
.objet-article{
	display: flex;
	/* flex: 6; */
	width: 45%;
}
.contenaire-objet{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.objet-image img{
	width: 100%;
}